<!-- views/template.ejs -->
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Style+Script&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: "Benedict";
            src: url("https://wedding-ticket.wilmar.djopa.fr/Benedict.otf") format("opentype");
        }

        @font-face {
            font-family: "Mistress Benedict";
            src: url("https://wedding-ticket.wilmar.djopa.fr/Mistress Benedict.otf") format("opentype");
        }

        @font-face {
            font-family: "Madelyn";
            src:
                local("Madelyn"),
                url("https://wedding-ticket.wilmar.djopa.fr/Madelyn.otf") format("opentype");
        }

        @font-face {
            font-family: "Style Script";
            src: url("https://wedding-ticket.wilmar.djopa.fr/StyleScript-Regular.ttf");
        }

        * {
            padding: 0;
            margin: 0;
        }

        .page {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .page img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        .page-break {
            page-break-after: always;
        }


        .qrcode {
            width: 7rem !important;
            height: 7rem !important;
            position: absolute;
            bottom: 1.7rem;
            right: 1.7rem;
        }

        .name {
            font-size: 4.85rem;
            line-height: 3.5rem;
            font-family: 'Style Script';
            display: inline-block;
            z-index: 400;
            position: absolute;
            top: 410px;
            left: 100px;
            color: #0D5223;
        }

        .isCouple {
            font-size: 3.5rem;
            font-family: 'Style Script';
            display: inline-block;
            z-index: 400;
            position: absolute;
            top: 470px;
            right: 100px;
        }

        .clickable_zone {
            display: block;
            position: absolute;
            width: 200px;
            height: 50px;
            background-color: red;
            z-index: 100;
        }

        .zone1 {
            left: 280px;
            background-color: transparent;
            bottom: 30px;
        }

        .zone2 {
            right: 70px;
            background-color: transparent;
            bottom: 100px;
        }

        .zone3 {
            background-color: transparent;
            left: 290px;
            width: 220px;
            bottom: 90px;
        }

        .zone4 {
            background-color: transparent;
            left: 190px;
            height: 90px;
            width: 450px;
            bottom: 220px;
        }
    </style>
</head>

<body>
    <div class="page">
        <img src="<%= img_1 %>">
        <img src="<%= qr1 %>" class="qrcode">

        <a class="clickable_zone zone1" href="https://nuptial.gift/clarita-willy-qce"></a>
    </div>

    <div class="page-break"></div>

    <div class="page">
        <a class="clickable_zone zone2" href="https://nuptial.gift/clarita-willy-qce"></a>
        <img src="<%= img_2 %>">
        <span class="name">
            <%= name %>
        </span>
        <span class="isCouple">
            <%= is_couple %>
        </span>
    </div>

    <!-- <div class="page-break"></div>

    <div class="page">
        <a class="clickable_zone zone3" href="https://nuptial.gift/clarita-willy-qce"></a>
        <img src="<%= img_3 %>">
    </div> -->

    <div class="page-break"></div>

    <div class="page">
        <a class="clickable_zone zone4" href="https://goo.gl/maps/bhAMSpRTitFw9mEw9"></a>
        <img src="<%= img_5 %>">
    </div>
    <div class="page-break"></div>

    <div class="page">
        <img src="<%= img_6 %>">
    </div>

</body>

</html>